.menu {
  width: 200px;
  background-color: #333333;
  height: 100vh;
//   &__list {
//     display: flex;
//     list-style: none;
//   }
//   &__item {
//     padding: 10px;
//     font-size: 28px;
//     background-color: rgb(93, 63, 68);
//     margin: 10px;
//     transition: background-color 2s ease;

//     &--active {
//       background-color: rgb(210, 35, 64);
//     }
//   }
//   &__link {
//     font-size: 1em;
//     display: block;
//     color: #fff;

//     &:hover {
//       color: #000;
//     }

//     &--active {
//       color: #000;
//     }
//   }
}
